<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit users</title>
</head>

<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" th:method="PATCH">

    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>

    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>

    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>

    <label for="salary">Salary: </label>
    <input type="number" th:field="*{salary}" id="salary" placeholder="Salary">
    <br/>

    <input type="submit" value="Update User">
</form>
</body>
</html>